{{> store/navbar}}

<div class="container">
  <br>
  <a href="{{store._id}}/edit">
    <button type="button" class="btn btn-block" style="cursor: pointer"name="button">Edit Profile</button>
  </a>
  <br>
  <h1 style="text-align: center">{{store.name}}</h1>
  <br>

  <br>
  <h4 >Send a notification!</h4>
  <hr>
  <form class="" action="index.html" method="post">
    <div class="form-group">
      <label for="exampleTextarea">Update your subscribers:</label>
      <small id="emailHelp" class="form-text text-muted" style="margin-top: -10px">Your notification will be sent via a text message</small>
      <textarea class="form-control" id="exampleTextarea" rows="2"></textarea>
    </div>

    <button type="submit" class="btn btn-block" style="background-color: #EA0B8C" name="button">Send!</button>
  </form>

</div>
