{{> home-nav}}
<br>
<div class="container">
  <h1><b><center>About Us</center></b></h1>
  <hr>
  <h2><center>Our Mission</center></h2>
  <p><center> Our goal is to fight hunger and reduce food waste. We created this organization in order to connect businesses with non-profit organizations to provide food for our hungry friends nearby.<center></p>
  <hr>
  <h2><center>Our Team</center></h2>
  <p><center>We're just a bunch of amateur coders who came together to bring love and nourishment to our communities.</center></p>
  <h3><center>Meet Us!</center></h3>
  <div class="row" id="picture">
    <div class="col">
      <h4><b>The Chosen One:</b> Stefan Zier</h4>
      <img src="https://s3-us-west-1.amazonaws.com/scu-courses/stefan.jpg" style="width:304px;height:auto;">
    </div>
  </div>

  <div class="row" id="picture">
    <div class="col">
      <h4> <b>Sith Lord:</b> Ashwin Iyer</h4>
      <img src="https://s3-us-west-1.amazonaws.com/scu-courses/ash.jpg" style="width:304px;height:auto;">
    </div>
  </div>

  <h4> <b>Jedi Master:</b> Jessica Andzouana</h4>
  <img src="https://s3-us-west-1.amazonaws.com/scu-courses/jessica.png" style="width:304px;height:auto;">
  <h4> <b>Quidditch Coach:</b> Raya Young</h4>
  <img src="	https://s3-us-west-1.amazonaws.com/scu-courses/raya.png" style="width:304px;height:auto;">
  <h4> <b>Care of Magical Creatures Professor:</b> Tisha Harnlasiri </h4>
  <img src="https://s3-us-west-1.amazonaws.com/scu-courses/tisha.png" style="width:304px;height:auto;">
  <h4> <b>Design Master:</b> Roya Seyedein</h4>
  <img src="	https://s3-us-west-1.amazonaws.com/scu-courses/roya.JPG" style="width:304px;height:auto;">
  <h4> <b>Head Auror:</b> Sai Panneerselvam</h4>
  <img src="https://s3-us-west-1.amazonaws.com/scu-courses/sai.png" style="width:304px;height:auto;">
  </div>
</div>

  <hr>

</div> <!-- /container -->
