{{> home-nav }}

<style media="screen">
/* Move down content because we have a fixed navbar that is 50px tall */
.jumbotron{
  background-image: url("http://trichilofoods.com/site/wp-content/uploads/2015/06/veggies.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white !important;
}
#join-message{
  text-align: center;
  margin: 20px 20px;
  font-weight: bold;
}
#picture{
  text-align: center;
  margin: 20px 20px;
}

</style>

<div class="jumbotron">
  <div class="container">

    <h1>Welcome to FoodBox!</h1>
    <p>Providing nourishment and love... but mostly nourishment</p>
  </div>
</div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>About Us!</h2>
          <p>Click here to learn more about us and our mission statement.</p>
          <p><a class="btn btn-secondary" href="/about-us" role="button">View details »</a></p>
        </div>
        <div class="col-md-6">
          <h2>Providers</h2>
          <p>Here's a list of our amazing restaurants and grocery stores that provide us with wholesome food.</p>
          <p><a class="btn btn-secondary" href="/providers" role="button">View details »</a></p>

       </div>
      </div>

      <hr>
      <div class="" style="text-align: center">
          <h2><b>Want to Join Our Cause?</b></h2>
          <br>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>Do you have an overflow of food?</h2>
          <p>Are you a restaurant, bakery, mom-n-pop shop, or a grocery store finding yourself with excess food at the end of each day? Sign up here to become a provider! </p>
          <p><a class="btn btn-secondary" href="/store-sign-up" role="button">Sign Up »</a></p>
        </div>
        <div class="col-md-6">
          <h2>Do you have an underflow of food?</h2>
          <p>No fear, we're here! If you are an organization that helps provide food to the underserved, sign up here to find providers near you!</p>
          <p><a class="btn btn-secondary" href="/user-sign-up" role="button">Sign Up »</a></p>
       </div>
     </div>

      <hr>

    </div>
