{{> home-nav }}

<!-- Main  -->
<div class="container">
  <br>
  <h3 class="text-center">Sign up your organization below!</h3>
  <form action="" method="post" class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2">Organization:</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Enter organization name..." name="organization" required="required">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">First Name:</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Enter first name..." name="first_name" required="required">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Last Name:</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Enter last name..." name="last_name" required="required">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" >Email:</label>
      <div class="col-sm-10">
      <input type="email" class="form-control" placeholder="Enter email..." name="email" required="required">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Password:</label>
      <div class="col-sm-10">
      <input type="password" class="form-control" placeholder="Enter password..." name="password" required="required">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Phone:</label>
      <div class="col-sm-10">
      <input type="tel" class="form-control" placeholder="Enter phone..." name="phone" required="required">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Address:</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Enter address..." name="address" required="required">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Preferred Radius:</label>
      <div class="col-sm-10">
      <input type="radio" value=5 checked> 5<br>
      <input type="radio"   value=10> 10<br>
      <input type="radio"   value=15> 15<br>
      <input type="radio"   value=20> 20<br>
      <input type="radio"   value=25> 25<br>
      <input type="radio"   value=30> 30<br>
      <input type="radio"   value=35> 35<br>
      <input type="radio"   value=40> 40<br>
      <input type="radio"   value=45> 45<br>
      <input type="radio"   value=50> >50<br>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>

</div>
